.a-tooltip--type-2 {

  display: none;

  background-color: red;
  position: absolute;
  padding: 0 12px;
  white-space: nowrap;
  background: #303840;
  font-size: 12px;
  font-size: 1rem;
  line-height: 2.333333333333333;
  color: #fff;
  text-align: center;
  z-index: 300;
}

.aaa:hover .a-tooltip--type-2{
  display: block;
  content: "";
  position: absolute;
  padding: 0 12px;
  white-space: nowrap;
  background: #303840;
  font-size: 12px;
  font-size: 1rem;
  line-height: 2.333333333333333;
  color: #fff;
  text-align: center;
  left: -8px;
  margin-top: 5px;
  border-radius: 8px 8px 8px 8px;
}

.backpagetop {
  background: url(https://p-bandai.com/_ui/responsive/common/images/icon-pagetop.svg) right center no-repeat;
  background-size: 20px 20px  ;
}

.backpagetop:hover {
  background: url(https://p-bandai.com/_ui/responsive/common/images/icon-pagetop-200.svg) right center no-repeat;
  background-size: 20px 20px;
}

.information {
  margin-bottom: 12px;
  color: #fff;
}

.information > a {
  font-size: 16px;
}

.information > a:hover {
  color: #c8c8c8;
}