.a-tooltip--type-1 {
  display: none;
  background-color: red;
  position: absolute;
  padding: 0 12px;
  white-space: nowrap;
  background: #303840;
  font-size: 12px;
  font-size: 1rem;
  line-height: 2.333333333333333;
  color: #fff;
  text-align: center;
  z-index: 300;
}

.logout:hover .a-tooltip--type-1 {
  display: block;
  content: "";
  position: absolute;
  padding: 0 12px;
  white-space: nowrap;
  background: #303840;
  font-size: 12px;
  font-size: 1rem;
  line-height: 2.333333333333333;
  color: #fff;
  text-align: center;
  right: 12%;
  margin-top: -1px;
  border-radius: 8px 8px 8px 8px;
}

.a-tooltip--type-2 {
  display: none;
  background-color: red;
  position: absolute;
  padding: 0 12px;
  white-space: nowrap;
  background: #303840;
  font-size: 12px;
  font-size: 1rem;
  line-height: 2.333333333333333;
  color: #fff;
  text-align: center;
  z-index: 300;
}

.login:hover .a-tooltip--type-2 {
  display: block;
  content: "";
  position: absolute;
  padding: 0 12px;
  white-space: nowrap;
  background: #303840;
  font-size: 12px;
  font-size: 1rem;
  line-height: 2.333333333333333;
  color: #fff;
  text-align: center;
  right: 20%;
  margin-top: 5px;
  border-radius: 8px 8px 8px 8px;
}

.backpagetop {
  background: url(https://p-bandai.com/_ui/responsive/common/images/icon-pagetop.svg) right center no-repeat;
  background-size: 20px 20px;
}

.backpagetop:hover {
  background: url(https://p-bandai.com/_ui/responsive/common/images/icon-pagetop-200.svg) right center no-repeat;
  background-size: 20px 20px;
}

.information {
  margin-bottom: 12px;
  color: #fff;
}

.information>a {
  font-size: 16px;
}

.information>a:hover {
  color: #c8c8c8;
}

.nameP {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.title-1::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 8px;
  bottom: 8px;
  width: 4px;
  background: #a09880;
}